@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --background: #3b3836;
  --header-background: #171515;
  --card-bg: #171515;
  --dark-smoke: #181616;
  --form-bg: #302f2b;
  --dark-gold: #a46121;
  --gold: #bb9457;
  --lighter: #efe3d4;
  --light-grey: #53514f;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Imprima', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html {
  background-color: var(--background);
  color: var(--lighter);
}

input {
  font-family: 'Imprima', sans-serif;

}

/* use opacity:0 to hide checkbox and use custom one instead  */
/* this method is preferred over changing display: none or visibility: hidden  */
/* as it is more accessible for screen readers  */
.checkbox {
  /* opacity: 0; */
}