@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

:root {
  --background: #3b3836;
  --header-background: #171515;
  --card-bg: #171515;
  --gold-text: #bb9457;
  --button-bg: #bb9457;
  --lighter: #efe3d4;
}

body {
  margin: 0;
  font-family: 'Imprima', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html {
  background-color: var(--background);
}

button {
  padding: 0.5rem 0.75rem;
  background-color: var(--button-bg);
  border: none;
  border-radius: 10%;
}